<ion-view view-title="Farm Details">
  <ion-content class="padding">
  	<form ng-submit="doDetail()" name="detail">
  		<div class="list">
	  <label class="item item-input">
		<input type="text" ng-name="email" placeholder="Email" ng-model="detail.email">
	  </label>
	  <label class="item item-input">
		<input type="text" placeholder="Farm Name">
	  </label>
	   <label class="item item-input">
		<input type="text" placeholder="Tags">
	  </label>
	  <label class="item item-input">
		<textarea placeholder="Description"></textarea>
	  </label>
	  <button class="button button-block button-positive">
  		Next
	  </button>
    </div>
	 </form>
  </ion-content>
</ion-view>
