<ion-view view-title="Photos">
  <ion-content>
    <form name="farmPhotos" ng-submit="doFarmPhotos(farmPhotos)" class="farm-photos" novalidate>
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <button type="button" class="button button-stable" ngf-select ng-model="farmPhotos.thump" name="file"    
					accept="image/*" >Upload farm banner <i class="icon ion-ios-upload"></i></button>
					<span class="success">{{farmPhotos.thump.name}}</span>
		  </label>
		  <label class="item item-input item-stacked-label">
			<button type="button" class="button button-stable" ngf-select ng-model="farmPhotos.banner" name="file2"    
					accept="image/*" >Upload farm thump <i class="icon ion-ios-upload"></i></button>
		  </label>
		</div>
    	
    <div class="alert alert-success margin-B" ng-if="photoStatusSuccess">{{photoStatusSuccess}}</div>
    <div class="alert alert-error margin-B" ng-if="photoStatusError">{{photoStatusError}}</div>
    	
    	<div class="padding">
    		  <button class="button button-block button-positive">Submit and publish</button>
    	</div>
    </form>
  </ion-content> 
</ion-view>
