<ion-view view-title="Products">
  <ion-content>
  	<form>
  	<div class="list">
  		
  		<label class="item item-input item-select item-stacked-label"> 
	    <span class="input-label">Add Category</span>
		  <select ng-options="pdc as pdc.categoryName for pdc in productsCategories" 
		  ng-model="selectedPDC" 
		  ng-change="openSubCategory(selectedPDC)">
		  	<option value="">Selected Category</option>
		  </select>
	  </label>
  	  <label class="item item-input item-select item-stacked-label" ng-show="subCategoriesBlock">
			<span class="input-label">Sub Category</span>
			<select ng-options="SubPdc as SubPdc.categoryName for SubPdc in subProductsCategories" 
		    ng-model="selectedSubPDC" 
		    ng-change="openProductName(selectedSubPDC)">
				<option value="">Select sub category</option>
			</select>
  	  </label>
  	  <label class="item item-input item-select item-stacked-label" ng-show="productNameBlock">
			<span class="input-label">Select Product</span>
			<select ng-options="product as product.productName for product in productDetails" 
		    ng-model="selectedProduct" 
		    ng-change="openProductDetail(selectedProduct)">
				<option value="">Select product</option>
			</select>
  	  </label>
    </div>
	</form>
	<div class="card" ng-show="productNotAdded">
	  <div class="item item-text-wrap">
		<strong>{{productName}} </strong> is already added, please choose another one.
	  </div>
	</div>
 	<form ng-submit="doSaveProduct(saveProduct)" name="saveProduct"  novalidate ng-show="productFormBlock">
  	<label class="item item-input item-stacked-label">
		<span class="input-label">Product Price</span>
		<input type="text" placeholder="" name="price" ng-model="product.price">
	</label>
  	<label class="item item-input item-stacked-label">
		<span class="input-label">Product Quantity</span>
		<input type="text" placeholder="" name="quantity" ng-model="product.quantity">
	</label>
  	<label class="item item-input item-stacked-label">
		<span class="input-label">Product Price Unity</span>
		<input type="text" name="unit" placeholder="" value="" ng-model="product.unit" class="price-unity" readonly>
	</label>
	  
  	<div class="padding">
	<div ng-show="productAddStatusError" class="alert alert-error margin-B">{{productAddStatusError}}</div>
	<div ng-show="productAddStatusSuccess" class="alert alert-success margin-B">{{productAddStatusSuccess}}</div> 
		<button class="button button-block button-positive" ng-click="submitted=true" ng-class="{'btnLoader': btnLoader}">
			Submit
			<ion-spinner icon="ripple"></ion-spinner>
		</button>
  	</div>
  	
  	</form>
  </ion-content>
</ion-view>
