<ion-view view-title="Farm Register">
  <div id="map" data-tap-disabled="true"></div>
  <ion-content>
  	<form ng-submit="doFarmRegister(farmRegister)" name="farmRegister" class="farm-register" novalidate>
  	<div class="list">
  	
  	  
	  <label class="item item-input item-stacked-label" ng-class="{'form-field-error' :  submitted && farmRegister.email.$invalid}"> 
	    <span class="input-label">Email</span>
		<input type="email" name="email" placeholder="Email" ng-model="farm.email" required>
	  </label>
	  <p ng-show="submitted && farmRegister.email.$error.required" class="error">Email required.</p>
	  <p ng-show="submitted && farmRegister.email.$error.email" class="error">Invalid email.</p>
	  
	  
	  <label class="item item-input item-stacked-label"  ng-class="{'form-field-error' :  submitted && farmRegister.name.$invalid}">
	    <span class="input-label">Name</span>
		<input type="text" name="name" placeholder="Farm Name" ng-model="farm.name" required>
	  </label>
	  	 <p ng-show="submitted && farmRegister.name.$error.required" class="error">Please type farm name.</p>
	  	 
	  <label class="item item-input item-stacked-label"  ng-class="{'form-field-error' :  submitted && farmRegister.description.$invalid}">
	    <span class="input-label">Description</span>
		<textarea name="description" placeholder="Description" ng-model="farm.description" required></textarea>
	  </label>
	  <p ng-show="submitted && farmRegister.description.$error.required" class="error">Please type about farm.</p>
	  <div class="padding">
	  <button class="button button-block button-positive"
  		 ng-click="submitted=true">
  		Next
	  </button>
	  </div>
    </div>
	 </form>
  </ion-content>
</ion-view>
